{% extends "shared/base.html" %}


{% block title %}
<title>About Us</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="display-4">About Us </h1>
  <p><a href="https://rotational.io/bio/prema-roman">Prema Roman</a> is a Distributed Systems Engineer specializing in
    Machine Learning Operations at Rotational Labs.
    She is an experienced software, data, and machine learning engineer with a proven track record of building high
    quality software applications and data products.
    She has worked in public, private, and non-profit companies across several industries including financial services,
    e-commerce, consulting, and online marketing.
    She is also an Adjunct Lecturer who teaches Visual Analytics for the Georgetown Data Science certificate program.
    Outside of work, she helps maintain <a href="https://www.scikit-yb.org/en/latest/">Yellowbrick</a>,
    an open source Python package that enables data scientists to use visual steering to facilitate building machine
    learning products.</p>
  <p><a href="https://rotational.io/bio/patrick-deziel">Patrick Deziel</a> is a Distributed Systems Engineer and machine
    learning specialist at Rotational Labs. He is
    primarily a Go and Python
    programmer and has previously worked in the private sector building end-to-end machine learning applications.
    Patrick is the creator of <a href="https://github.com/rotationalio/pyensign">PyEnsign</a>, the official Python SDK
    client for
    <a href="https://rotational.io/ensign">Ensign</a> which powers this demo. He is also a contributor to
    <a href="https://www.scikit-yb.org/en/latest/">Yellowbrick</a> and enjoys open source.
</div>
{% endblock %}