{% extends "shared/base.html" %}


{% block title %} 
  <title>About Us</title>
{% endblock %} 

{% block content %} 
  <div class="container">
    <h1 class="display-4">About Us </h1>
    <p>Prema Roman is a Distributed Systems Engineer specializing in Machine Learning Operations at Rotational Labs. 
       She is an experienced software, data, and machine learning engineer with a proven track record of building high quality software applications and data products. 
       She has worked in public, private, and non-profit companies across several industries including financial services, e-commerce, consulting, and online marketing. 
       She is also an Adjunct Lecturer who teaches Visual Analytics for the Georgetown Data Science certificate program. Outside of work, she helps maintain Yellowbrick, 
       an open source Python package that enables data scientists to use visual steering to facilitate building machine learning products.</p>
    <p>Patrick Deziel</p>
  </div>
{% endblock %}