{% extends "shared/base.html" %}


{% block title %} 
  <title>Data Source</title>
{% endblock %} 

{% block content %} 
  <div class="container">
    <h1 class="display-4">Data Source </h1>
    <p>The data that was used to generate the stock market predictions came from <a href="https://finnhub.io" class="link-primary">Finnhub</a>.</p>
    <p> 
       Finnhub provides real-time RESTful APIs and WebSocket for stocks, currencies, and crypto.  It has libraries in multiple languages
       including Python.  Finnhub has a free tier and requires API keys for access.
    </p>
  </div> 
{% endblock %}